<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app>
    <head>
        <title>My First Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="app/css/ngclass.css"/>
    </head>
    <body>
        <p ng-class="{'strike bold has-error': deleted, 'has-error': error}">Map Syntax Example</p>
        <label>
            <input type="checkbox" ng-model="deleted" ng-change="myClass = 'some-class'">
            deleted (apply "strike" class)
        </label><br>
        <label>
            <input type="checkbox" ng-model="important">
            important (apply "bold" class)
        </label><br>
        <label>
            <input type="checkbox" ng-model="error">
            error (apply "has-error" class)
        </label>
        <hr>
        <p ng-class="style">Using String Syntax</p>
        <input type="text" ng-model="style"
               placeholder="Type: bold strike red" aria-label="Type: bold strike red">
        <hr>
        <p ng-class="[style1, style2, style3]">Using Array Syntax</p>
        <input ng-model="style1"
               placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red"><br>
        <input ng-model="style2"
               placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 2"><br>
        <input ng-model="style3"
               placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 3"><br>
        <hr>
        <p ng-class="[style4, {orange: warning}]">Using Array and Map Syntax</p>
        <input ng-model="style4" placeholder="Type: bold, strike" aria-label="Type: bold, strike"><br>
        <label><input type="checkbox" ng-model="warning"> warning (apply "orange" class)</label>


        <script src="app/js/angular.js/angular.min.js"></script>
        <script src="app/js/ngclass.js"></script>
    </body>
</html>
