<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>My First Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="myController">
        <div>{{greetings}}</div>
        <!--<div ng-bind="greetings"></div>-->
<!--        <div ng-bind-html="greetings"></div>-->
<!--<label>Salutation: <input type="text" ng-model="salutation"></label><br>
 <label>Name: <input type="text" ng-model="name"></label><br>
 <pre ng-bind-template="{{salutation}} {{name}}!"></pre>-->
        <script src="app/js/angular.js/angular.min.js"></script>
        <script src="app/js/controller0.js"></script>
    </body>
</html>
